<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Static Index Page</h1>
    <hr />
    <%= link_to 'Chats Index', chats_path, class: 'btn btn-primary' %>
  </div>
</div>
