<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Chat Index Page</h1>
    <hr />
    <%= link_to 'Chats Index', new_chat_path, class: 'btn btn-primary' %>
  </div>
</div>
