<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Chat Index Page</h1>
    <hr />
    <%= @chats.each do |chat| %>
      <%= chat.inspect %>
    <% end %>
    <hr />
    <%= link_to 'Create New Chat', new_chat_path, class: 'btn btn-primary' %>
  </div>
</div>
