<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>New Chat Form</h1>
    <hr />
    <%= simple_form_for(@chat, class: 'form-control') do |f| %>
      <%= f.collection_select(:chat_receiver, User.all, :id, :email ) %>
      <br />
      <br />
      <%= f.input :message %>
      <br />
      <%= f.submit "Send Message", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
